{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

     <title>{% block title %}{% endblock %}</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="Tooplate">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <!-- script css -->
     <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}" >
     <link rel="stylesheet" href="{% static 'assets/css/login.css' %}" >

</head>
<body>

     <!-- content -->
     <div class="container">
          {% block content %}
          {% endblock %}
     </div>


     <!-- script js -->

     <script src="{% static 'fontawesome/js/all.min.js' %}"></script>


</body>
</html>
